/animations.css
/app.js
/cards.css
/dashboard.css
/dashboard.html
/dashboard.js
/friends.html
/friends.js
/main.css
/notes.html
/notes.js
/profile.html
/responsive.css
/schedule.html
/schedule.js
/statistics.html
/statistics.js
/storage.js
/style.css
/themes.css